body
{
	background:#06F;
	width:500px;
	height:400;
	margin: 0;
	padding: 0;
}

h3,h4
{
	text-align:center;
	margin-left:200px;
	margin-right:-200px;
}

#title p{
	
	display:inline;	
}

#name{
	margin-left:70px;
}
#type{
	margin-left:80px;
}
#grade{
	margin-left:90px;
}

#submit{
	margin-left:200px;
}

#mygrades{
	position:;
    margin-left:200px; /* half of width */
    margin-right:-200px;  /* half of height */
}