body{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size:14px;
color:#000;
background-color:#999;
background-size:250px;
}

h1, h3{
text-align:center;
text-decoration:underline;
}

input{
font-size:12px;
padding:2px 3px;
border:solid 2px #BFBD9F;
width: 150px;
margin:1px 0 20px 10px;
}

form{
margin:0 auto;
width:500px;
padding:15px;
margin-top:150px;
border:solid;
background-color:#06F;
}


