@charset "utf-8";
/* CSS Document */

body
{
	background-color:#FFFF00;
	text-align:center;
	border-color:#00000; /*black color*/
	border-style:solid;
	border-width:10px;
	padding:30px;
}

h1
{
	color:#FFF;/*White*/
	text-align:center;
	font-family:"Comic Sans MS", cursive;
}

p
{
	font-family:"Comic Sans MS", cursive;
	font-size:20px;
	text-align:center;
	color:#0000A0;/*Dark Blue*/
}

p.text {
	text-align:left;
	font-family:"Comic Sans MS", cursive;
	font-size:20px;
	color:#000000;/*Black*/
}

img.center {
    display:
}

a {
	color:#732727;
	font-weight: bold;
}

a:hover {
	font-size: 24px;
	text-decoration:blink;
	color: #0000FF;
}